<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>newton</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/59443dfeb1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">

</head>
<header class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light pt-80">
        <div class="container">
          <a class="navbar-brand" href="#">Newton <span>.</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="portfolio.html">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
<body class="wrapper logo-ex">
  <div class="pt-5">
    <p>Date of Project</p>
    <h2 class="pb-3">Smich Pharma</h2>
  </div>
  <div>
    <img src="/img/logos/smich/SmichL.png" alt="">
  </div>
    <p class="pt-5 pb-5 about-logo">
      <span>ABOUT PROJECT </span> <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div>
      <img src="/img/logos/smich/dropper-02.png" alt="">
    </div>
      <p class="pt-5 pb-5 design-process">
        <span>DESIGN PROCESS </span> <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
<img src="/img/logos/smich/Cap-side.jpg" alt="">
    </div>
    <div class="col-md-6">
      <img src="/img/logos/smich/Box.png" alt="">
          </div>
  </div>
</div>

<div class="testimonials">
  <p class="pt-5 pb-5">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, vitae similique? 
    Cupiditate omnis voluptatibus vel esse inventore ipsam eligendi est. Eius, facilis error. Vitae recusandae optio fugit minima cum animi."</p>
</div>

<div class="last-image">
  <img src="/img/logos/smich/Facade large.jpg" alt="">
</div>

<div class="pt-3 pb-3">
<button><a href="/portfolio.html">PORTFOLIO</a></button>
</div>
</body>
</html>